@import url('https://fonts.googleapis.com/css2?family=Nova+Cut&display=swap');

html,body {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
}

h1, h2, h3 {
    font-family: 'Press Start 2P', monospace;
    color: gold;
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

canvas {
    background-image: url('./img/background_full.jpg');
    background-repeat: repeat-x;
    background-size: 100% 100%;
    width: 100%;
    background-position-x: 100px;
}

#container {
    max-width: 50em;
    max-height: 100vh;
    background-color: rgb(87, 206, 253);
    margin: 0 auto;
    padding: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: .20fr .55fr .25fr;
    grid-template-columns: .25fr .5fr .25fr;
    grid-template-areas: "top top top"
                        "game game game"
                        "btm-left btm-center btm-right";
}

#tl, #bl, #bc, #br {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}

main {
    grid-area: game;
} 

#tl {
    grid-area: top;
}

#bl {
    grid-area: btm-left;
}

#bc {
    grid-area: btm-center;
}

#br {
    grid-area: btm-right;
}

.gameOver, .instructions {
    background: #222;
    border: 10px solid rgb(100, 0, 0);
    border-radius: 5px;
    position: fixed;
    top: 180px;
    margin: 0 auto;
}
p {
    color: rgb(250, 244, 233);
    margin: 10px;
    font-family: 'Nova Cut', cursive;
}
.restart {
    margin: 15px;
    padding: 10px;
    width: 150px;
    background-color: goldenrod;
    font-family: 'Nova Cut', cursive;
    color: rgb(250, 244, 233);
}
.ready {
    margin: 15px;
    padding: 10px;
    width: 150px;
    background-color: rgb(85, 189, 85);
    font-family: 'Nova Cut', cursive;
    color: rgb(250, 244, 233);
}
.pause {
    position: absolute;
    margin: 23px;
    height: 30px;
    width: 100px;
    background-color: rgb(220, 85, 85);
    font-family: 'Nova Cut', cursive;
    color: rgb(250, 244, 233);
}
.pause:hover, .ready:hover, .restart:hover {
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24), 0 17px 50px 0 rgba(255, 255, 255, 0.19);
  }